@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bb{
  @apply border-2 border-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
